/******************************************************************

Site Name: Base Framework
Author: AnalogFolk

Stylesheet: Base Stylesheet

The purpose of this document is to house all the site wide styles.
These items are used across all view states, mobile, tablet, and 
tablet. Keep this document clean and lean.

******************************************************************/

/*********************
 Import
*********************/

	@import "reset";
	@import "variables";
	@import "mixins";
	@import "grid";


/*********************
 GENERAL STYLES
*********************/

	body {
		font-family: $fontSansSerif;
		font-weight: 300;
		font-size: $sizeTextBase;
		line-height: 1em;
		color: $colorText;
	}

	.wrapper {
		margin: 0 auto;
		width: 1000px;
	}

	p {
		color: #636363;
		margin: 0 0 15px;
		line-height: 1.2em;
		font-weight: 400;
		
		&:last-child {
			margin: 0;
		}
	}

	strong {
		font-weight: 700;
	}

	.clear {
		clear: both;
	}

	.image-replace, .icon span {
		display: block;
		text-indent: -9999px;
		overflow: hidden;
	}

	.image-cover {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		margin: 0;
		min-width: 960px;
		position: relative;
		width: 100%;
	}

	/* Icon Styles */
	@import "icons";

	/* Icon Styles */
	@import "buttons";


	/* Headings */

		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
			font-family: $fontSansSerif;
			font-weight: 300;
			line-height:  1em;

			a {
				text-decoration:  none;
			}

		}

		h1, .h1 {
			color: $colorH1;
			font-size: $sizeH1;
		}

		h2, .h2 {
			color: $colorH2;
			font-size: $sizeH2;
		}

		h3, .h3 {
			color: $colorH3;
			font-size: $sizeH3;
		}

		h4, .h4 {
			color: $colorH4;
			font-size: $sizeH4;
		}

		h5, .h5 {
			color: $colorH5;
			font-size: $sizeH5;
		}

		h6, .h6 {
			color: $colorH6;
			font-size: $sizeH6;
		}

		.heading-background {
			background: #fff;
			display: table-cell;
			font-size: 20px;
			padding: 0 10px;
			height: 36px;
			vertical-align: middle;
			position: relative;
			font-weight: 400;
		}

	/* Links */

		a {
			color: $colorLink;
			text-decoration: none;

			&:hover, &:focus {
				color: $colorLinkHover;
			}

			&:active {
				color: $colorLinkActive;
				outline: none;
			}

			&:visited {
				color: $colorLinkVisited;
			}
		}

	/* Custom */
	
		.squircle {
			@include border-radius(0px 45px 0px 45px);

		    a {
		    	@extend .image-replace;
		    	height: 100px;
    			width: 100px;
		    }
		}	

	/* Inputs */

		input {
			font-family: $fontSansSerif;
		}


/*********************
 HEADER STYLES
*********************/

	header {
		margin: 0 auto -160px;
	    padding: 0 0 40px;
	    position: relative;
	    top: 0;
	    width: 960px;
	    z-index: 99;

		.inner {
			height: 120px;
			padding: 0 0 0;
			position: relative;
		}

		.logo {
			@extend .image-replace;
			background: url(../images/logo.png) no-repeat;
			bottom: 0;
			height: 120px;
			position: absolute;
			width: 120px;
		}

		nav {
			bottom: 0;
			left: 122px;
			position: absolute;

			li {
				float: left;
				margin: 0;
				border-right: 2px solid #dcdcdc;

				&:last-child {
					border-right: none;
				}

				a {
					color: #636363;
					display: inline-block;
					position: relative;
					background: #fff;
					width: 110px;
					padding: 35px 5px 0;
					height: 85px;
					font-weight: 300;
					font-size: 16px; 
					text-align:  center;

					&:hover, &.active {
						color: #444;
					}
				}
			}
		}

		.sub-nav {
			background: rgba(255,255,255,0.95);
		    left: 610px;
		    position: absolute;
		    height: 120px;
		    width: 228px;

			li {
				float: left;
				position: relative;
				border-right: 1px solid #bdbcbb;
				margin: 20px 0 0;		
				padding: 0 10px;

				&:last-child{
					border: none;
					padding-right: 0;
				}

				&:first-child {
					padding-left: 15px;
				}

				a{
					display: block;
					font-size: 13px;
					color: #636363;
					&:hover, &.active {
						color: #444;
					}
				}
			}
		}

		.icon-search {
			@extend .image-replace;
			background: #f8f2ec;
			width: 120px;
			height: 120px;
			position: absolute;
			right: 0;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -22px 0 0 -21px;
			}
		}

		.search {
			height: 0;
			overflow: hidden;
			@include transition(height 0.3s ease-in-out);
			fieldset {
				padding: 34px 0 36px;
				label {
					color: #03296A;
				    display: block;
				    float: left;
				    font-size: 26px;
				    height: 40px;
				    line-height: 40px;
				    margin-right: 22px;
				}
				input.text {
					background: #F4F4F4;
					width: 750px;
					border: none;
					font-size: 18px;
					font-weight: 200;
					padding: 0 10px;
					height: 40px;
					line-height: 40px;
					@include border-radius(8px);
					margin-right: 12px;
				}
				input.btn{
					font-size: 20px;
					height: 40px;
					width: 40px;
					text-align:  center;
					padding: 0;
				}
			}
			&.active{
				height: 108px;
			}
		}
	}

	footer {
		padding-bottom: 50px;
	}

	@media screen and (min-width: 1020px) {
		header {
			width: 990px;

			nav {
				left: 131px;
			}

			.sub-nav {
			    left: 619px;
			    width: 249px;

			    li:first-child {
					padding-left: 26px;
				}
			}
		}
	}



