/*********************
 BUTTON STYLES
*********************/

.btn {
	display: inline-block;
	background: #022a68;
	color: #fff;
	cursor: pointer;
	font-weight: 400;

	&:visited {
		color: #fff;
		background: #022a68;
	}

	&:hover, &:focus, &:active {
		color: #fff;
		background: #021a40;
	}

	&:visited {
		color: #FFF;
	}

	&.invert {
		background: #fff;
		color: #022a68;

		&:hover, &:focus, &:active {
			color: #021a40;
			border-color: #021a40;
		}
	}

	&.no-bg {
		background: none;
	}
}

.btn-round {
	@include border-radius(15px);
	padding: 10px 20px;
	font-size: 14px;

	&.invert {
		background: #fff;
		color: #022a68; 
		padding: 7px 17px; 
		border: 3px solid #022a68;

		&:hover, &:focus, &:active {
			color: #021a40;
			border-color: #021a40;
		}
	}
}

input.btn{
	padding: 4px;
	font-size: 18px;
	font-weight: 200;
	border: none;
}
