/*********************
 GRID STYLES
*********************/

	.grid {
		width: 960px;
		margin: 0 auto;

		&:after {
		    content: "";
		    display: table;
		    clear: both;
		  }
	}

	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8 {
		float: left;
		margin: 0 $gridGutter;
		min-height: 1px;

		&.no-gutter {
			margin: 0;
		}
	}

	@mixin calculatedWidth($multiplyWidth, $multiplyGutter) {
		width: ($gridWidth * $multiplyWidth) + ($gridGutter * $multiplyGutter);
	}

	.grid-1 {
		@include calculatedWidth(1,1);

		&.no-gutter {
			@include calculatedWidth(1,2);
		}
	}

	.grid-2 {
		@include calculatedWidth(2,2);

		&.no-gutter {
			@include calculatedWidth(2,4);
		}
	}

	.grid-3 {
		@include calculatedWidth(3,4);

		&.no-gutter {
			@include calculatedWidth(3,6);
		}
	}

	.grid-4 {
		@include calculatedWidth(4,6);

		&.no-gutter {
			@include calculatedWidth(4,8);
		}
	}

	.grid-5 {
		@include calculatedWidth(5,8);

		&.no-gutter {
			@include calculatedWidth(5,10);
		}
	}

	.grid-6 {
		@include calculatedWidth(6,10);

		&.no-gutter {
			@include calculatedWidth(6,12);
		}
	}

	.grid-7 {
		@include calculatedWidth(7,12);

		&.no-gutter {
			@include calculatedWidth(7,14);
		}
	}

	.grid-8 {
		@include calculatedWidth(8,14);

		&.no-gutter {
			@include calculatedWidth(8,16);
		}
	}