/*********************
 ICON STYLES
*********************/

.icon span {
	background: url(../images/sprite-icons.png) no-repeat;
	@extend .image-replace;
	float: left;
}

.icon-search {
	span {
		background-position: 0 -78px;
		height: 40px;
		width: 41px;
	}
	&:hover, &.active {
		span {
			
		}
	}
}

.icon-show-all {
	span {
		background-position: 0 -118px;
	    height: 24px;
	    width: 46px;
	}
}

.icon-plus {
	span {
		background-position: -37px -9px;
	    height: 14px;
	    width: 14px;
	    float: right;
	    margin: 1px 2px 0 10px;
	}
}

.icon-add-basket {
	span {
		background-position: -54px 0;
	    height: 22px;
	    width: 22px;
	}
}

.icon-arrow-right {
	span {
		background-position: -54px -23px;
	    float: right;
	    height: 16px;
	    width: 10px;
	    margin-left: 10px;
	}
}


.invert.icon-arrow-right {
	span { 
		background-position: -63px -23px;
	}
}


.icon-nav-room, 
.icon-nav-colour, 
.icon-nav-products, 
.icon-nav-decorating {
	span {
		background: url(../images/sprite-global-nav.png) no-repeat;
		height:19px;
		margin: 0 auto 8px;
		float: none;
		width: 20px;
	}	
}

.icon-nav-room {
	&:hover, &.active {
		span {
			background-position: -20px 0;
		}
	}
}

.icon-nav-colour {
	span {
		background-position: 0 -19px;
		height: 21px;
		margin-top: -2px;	
	}
	&:hover, &.active {
		span {
			background-position: -20px -19px;
		}
	}
}

.icon-nav-products {
	span {
		background-position: 0 -40px;
		height: 17px;	
		margin-top: 2px;		
	}
	&:hover, &.active {
		span {
			background-position: -20px -40px;
		}
	}
}

.icon-nav-decorating {
	span {
		background-position: 0 -57px;
		height: 20px;
		margin-top: -1px;
		
	}
	&:hover, &.active {
		span {
			background-position: -20px -57px;
		}
	}
}

