/******************************************************************

Site Name: Base Framework
Author: AnalogFolk

Stylesheet: Variables

A home for all reusable colors, fonts, etc.

******************************************************************/


/*********************
 FONTS
*********************/

	/* @font-face */

		$fontSansSerif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

		$fontSerif: "Georgia", Cambria, Times New Roman, Times, serif; 

		/*	@font-face {
				font-family: 'Font Name';
				src: url('library/fonts/font-name.eot');
				src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
			         url('library/fonts/font-name.woff') format('woff'),
			         url('library/fonts/font-name.ttf') format('truetype'),
			         url('library/fonts/font-name.svg#font-name') format('svg');
				font-weight: normal;
				font-style: normal;
			}
		*/

/*********************
 FONT SIZES
*********************/
	
	/* Text */

		$sizeTextBase : 16px;

		$sizeTextError : 12px;

	/* Headings */

		$sizeH1 : 66px; 

		$sizeH2 : 26px;

		$sizeH3 : 21px;

		$sizeH4 : 17px;

		$sizeH5 : 22px;

		$sizeH6 : 22px;


/*********************
 COLOURS
*********************/

	/* Backgrounds */

		$colorBg : #fff;

		$colorBgHighlight : #ccc;

		$colorBgError : #fcc;
	
	/* Text */

		$colorText : #444;

		$colorTextError : #f00;

	/* Links */

		$colorLink : #022a68;

		$colorLinkHover : #600;

		$colorLinkActive : #600;

		$colorLinkVisited : #300;

	/* Headings */

		$colorH1 : #444;

		$colorH2 : #444;

		$colorH3 : #444;

		$colorH4 : #444;

		$colorH5 : #444;

		$colorH6 : #444;

	/* Dulux Colours */

		$duluxRed : #ED1C24;

		$duluxOrange : #F58025;

		$duluxYellow : #FFD200;

		$duluxGreen : #C1CD23;

		$duluxBlue : #009DDC;

		$duluxViolet : #4B63AE;

		$duluxNeutral : #C8BA95;

		$duluxWallpaper : #60604D;

/*********************
 GRID WIDTHS
*********************/

	$gridWidth : 110px;

	$gridGutter : 5px;







